on boot
    chmod 0660 /sys/class/power_supply/battery/charging_enabled
    chown system system /sys/class/power_supply/battery/charging_enabled

on property:ro.boot.product.vendor.sku=sweet
    enable vendor.nfc_hal_service

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc drmrpc system
    disabled
