service hvdcp_opti /system/bin/hvdcp_opti
    user root
    group system wakelock
    task_profiles ServiceCapacityLow
    seclabel u:r:vendor_hvdcp:s0

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller ${ro.boot.usbcontroller}
